@import url('https://unpkg.com/purecss@0.6.2/build/pure-min.css');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto+Slab:300');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  font-family: 'Roboto Slab', Arial, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
input, textarea, p, a, h1,h2,h3,h4,h5,h6,
span, small, sub, sup, label {font-family: 'Roboto Slab', Arial, Tahoma, sans-serif!important}
legend {
  margin-bottom: 10px!important;
}
.clearfix:after {
  content: '';
  display:table;
  height: 0;
  clear: both;
}
.main {
  width: 1100px;
  margin: 0 auto;

}
  .content {
    padding: 20px 16px;
  }
    .content h3 {
      font-weight: 100;
      font-size: 27px;
    }
    .content.about h3 {
      text-align: center;
    }
    .content.about img {
      display: block;
      margin: 30px auto 50px;
    }
    .content__text {
      line-height: 25px;
      text-align: justify;
    }
.logo {
  background: url(https://upload.wikimedia.org/wikipedia/commons/b/b6/Creative-Tail-Animal-crocodile.svg);
  width: 40px;
  height: 40px;
  background-size: contain;
  margin-left: 18px;
}
.pure-menu-list {
  text-align: right;
}
  .pure-menu-link.active {
    background-color: #eee;
  }

.pure-form input,
.pure-form textarea {
  min-width: 400px;
}
.pure-form textarea {
  min-height: 200px;
  resize: vertical;
}

.post__image {
  float: right;
  margin: 0 0 15px 25px;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color: #2d4452;
    color: #fff;
}

  .blogs__list {
    margin-top: 30px;
  }
    .blog__item {
      padding-bottom: 34px;
      margin-bottom: 34px;
      border-bottom: 1px solid #d5d5d5;
    }
    .blog__item:last-child {
      border-bottom: 0;
    }
    .blog__item p {
      margin-bottom: 22px;
    }
    .blog__item h4 a {
      text-decoration: none;
      font-weight: 500;
      font-size: 21px;
      color: #000;
    }
      .blog__item h4 a:hover {
        color: #8e3c3c;
      }

/**/

.share_likes {
  color: #ccc;
  font-size: 13px;
}

  .read-more,
  .author__post {
    float: left;
  }
  .author__post {
    color: #333;
    font-size: 14px;
  }
    .author__post small span {
      color: #aaa;
    }
  .likes {
    cursor: pointer;
    float: right;
  }
    .love-count {
      display: inline-block;
      margin-left: 5px;
    }
